@import url(http://weloveiconfonts.com/api/?family=brandico);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height:100%;
}


body {
  margin:0;
  background:#14b5d1;
  font-size:1.3em;
  color:#333;
  font-family: 'Roboto Mono', monospace;
  font-weight: 100;
}

section {
  float:left;
  width:100%;
  background:#fff;
  position:relative;
  box-shadow:0 0 5px 0px #333;
}


/* the important styles */

.arrow-wrap {
  position:absolute;
  z-index:1;
  left:50%;
  top:-5em;
  margin-left:-5em;
  background:#111;
  width:10em;
  height:10em;
  padding:4em 2em;
  border-radius:50%;
  font-size:0.5em;
  display:block;
  box-shadow:0px 0px 5px 0px #333;
}

.arrow {
  float:left;
  position:relative;
  width: 0px;
height: 0px;
border-style: solid;
border-width: 3em 3em 0 3em;
border-color: #ffffff transparent transparent transparent;
  -webkit-transform:rotate(360deg)
}




/*  this is the unimportant CSS used just to layout the content  */



header {
  float:left;
    padding-left: 100px;
  width:100%;
  padding:2em 4em;
  color:#fff;
  height:calc(100% - 3em);
}

header h1 {
  margin:0;
    font-size: 100px;
    margin-top: 50px;
}
header h3 {
  margin:0;
  color: #56dcee ;
    font-size: 50px;
    margin-top: 50px;
}


.content {
  float:left;
  width:70%;
  margin:0 15%;
  padding:2em 0;
    margin-top: 3%;
}

h1 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 100;
  font-size:2.4em;
}

h2 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 100; 
  margin-top:2em;
    font-size: 40px;
}

h3{
    font-family: 'Roboto Mono', monospace;
  font-weight: 100;
    font-size: 25px;
}

.text {
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Open Sans', sans-serif;
    
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

p {
  color:#555;
  text-align: justify;
  text-justify: inter-word;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
    
}

p a {
  color:#14b5d1;
  text-decoration:none;
}
