@import url(http://weloveiconfonts.com/api/?family=brandico);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

body
{
    margin: 40px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
    //background-image: url('/img/polygon_backgrounds/jpgs/05.png');
}

.page-header
{
    border-color: black;
}

h1
{
    margin-bottom: 0;
    font-size: 50px;
}

h2
{
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;
}

p
{
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
}

ul
{
    font-family: 'Open Sans', sans-serif;
    width: 40%;
}

#sub
{
    margin-left: 20px;
    border: none;
}